.coverGridWrapper {
  position: relative;
}
.grid {
  display: flex;
  gap: 2rem;
}

.backButton,
.nextButton {
  height: 1.4rem;
  width: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.backButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1.6rem), -50%) rotate(-45deg);
  border-top: 2px solid #666;
  border-left: 2px solid #666;
}
.nextButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 1.6rem), -50%) rotate(45deg);

  border-top: 2px solid #666;
  border-right: 2px solid #666;
}

.backButton span,
.nextButton span {
  visibility: hidden;
}

.backButton:focus,
.nextButton:focus {
  outline: none;
}
