.releaseInfo {
  padding: 0.5rem 0 0 3px;
  flex: 1 0 0;
}
.releaseName {
  margin-bottom: 6px;
}
.releaseDetailIcon {
  flex-shrink: 0;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 8px;
  margin-top: 3px;
}
.releaseDetail {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #666;
  margin-bottom: 4px;
}
