.container {
  min-height: 100vh;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
}

.main {
  padding: 5rem 0;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
}

.releaseSection {
  margin-bottom: 6rem;
}
.releaseSection__headerWrapper {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}
.releaseSection__header {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.releaseSection__subhead {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
}
